[Unit]
Description=Barny CPU frequency module
PartOf=barny.service

[Service]
Type=simple
ExecStart=/usr/bin/barny-cpu-freq
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=barny.service
