[Unit]
Description=i3status cpupower
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/i3cpu_power
WorkingDirectory=/opt/misc

[Install]
WantedBy=default.target
